{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    {% if listing.closed %}
    {% else %}
    <a href="{% url 'listing' listing.name %}" class="listing">
        <div class="listing-image">
            {% if listing.image %}
            <img src="{{ listing.image }}">
            {% else %}
            <p>No Image.</p>
            {% endif %}
        </div>
        <div class="listing-info">
            <h4>{{ listing.name }}</h4>
            <h5>{{ listing.description }}</h5>
            <p>Price: ${{ listing.price }}</p>
            <p>Category: {{ listing.category }}</p>
            <p>Created {{ listing.date_created }}</p>
        </div>
    </a>
    {% endif %}
    {% endfor %}
{% endblock %}